{% extends "layout.html" %}

{% block links %}
<link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<style>
    @media screen and (max-width: 847px) and (min-width:0px){
        .main{
            padding-left: 30px;
            padding-top: 30px;
        }
    }
</style>
{% endblock %}

{% block title %}
The Booklist | Log In
{% endblock %}

{% block body %}
<div class="main">
<h1>Log In to your Profile</h1>
<p>
    <form action = {{  url_for('loguser')  }} method="post">
        Username: <input type="text" name="checkuser"><br>
        Password: <input type="password" name="checkpass"><br>
        <button>Log In</button>
    </form>
</p>
<br>
<p>
    <a href="/">Back to Index</a>
</p>
</div>
{% endblock %}