{% extends "layout.html" %}

{% block links %}
<link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<style>
    @media screen and (max-width: 847px) and (min-width:0px){
        .main{
            padding-left: 30px;
            padding-top: 30px;
        }
    }
</style>
{% endblock %}

{% block title %}
The Booklist | Logged Out
{% endblock %}

{% block body %}
<div class="main">
    <h1>Log Out Successful</h1>
    <p>Thank you for using the Booklist</p>
    <p><a href="/">Return to Home Page</a><br>
    <a href="/login">Log In again</a></p>
</div>

{% endblock %}